snippet dir
	angular.module('${1}')
		.directive('', function () {
			'use strict';

			return {
				restrict: '${2}',
				templateUrl: '/packlink-pro/',
				scope: {
					${3}: '='
				}
			};
		});

snippet ss
	$scope.

snippet sf
	$scope.${1} = function (${2}) {
		${3}
	}


